/* Add CSS Styling */
.odd {
    background-color: rgb(233, 165, 177);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second-element {
    color: blue;
    font-size: 36px;
}

.two-four-px { /* as in 24px */
    font-size: 24px;
}

#fourth-element {
    background-color: rgb(138, 226, 138);
    font-weight: bold;
}